/* Mobile: width < 740px */
@media  (max-width: 46.1875em) {
    .row>.c-4{
        margin-left: 33.333% ;
    }
    .row>.col>.header-hoatdong>.duongke3{
        width: 30%;
    }
    
}

/* Tablet: width >= 740px and width < 1024px */
@media  (min-width: 46.25em) and (max-width: 63.9375em) {
    
    .boxtextnhap2>i{
        position: absolute;
        top: 10px;
        left: 70%;

    }

}

@media (max-width : 1023px) {
   
}
@media (max-width : 1920px) {
   .boxtextnhap1>i{
    left: 25%;
   }
}