.container-giaithuong{
    justify-content: center;
    text-align: center;
}
.boxgiaithuong{
    display: inline-flex;
    background: transparent linear-gradient(180deg,#e6a76d70 0%,#ee8700 100%) 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
div{
    display: block;
}
.giaithuong{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    transition: transform .2s;

}
/* .giaithuong:hover{
    
    transform: scale(1.1);
} */
.giaithuong>img{
    display: block;
    margin: auto;
    margin: auto;
    width: 200px;
}
.giaithuong>.img-gt1{
    border-radius: 50px;
}
.giaithuong>.img-gt2{
    margin:  10px;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.giaithuong>.img-gt2:hover{
    opacity: 0.95;
}
.boxtextgiaithuong{
    padding: 25px;
}

.giaithuong>.boxtextgiaithuong>.text-giaithuong {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to top, #f57004, #e6a76d70);
    -webkit-background-clip: text;
    color: transparent;
}
.giaithuong>.boxtextgiaithuong>.text-giaithuong:hover{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #e6a76d70 , #f57004);
    -webkit-background-clip: text;
    color: transparent;
 
}
.boxgiaithuong>.boxgiaithuongcon>.shadow{
    margin: 0px;
    width: 80%;
}
.boxgiaithuongcon{
    margin: 0 15px;
    transition: transform .2s;
}
.boxgiaithuongcon:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 2px 10px orange);
}
