


* {
    margin: 0;
    box-sizing: border-box;
  }
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
  }
  /* .col {
    text-align: center;
    background-color: white;
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
    width:fit-content;
  } */
  .container-header{
    position:fixed;
    top : 0;
    left:0;
    right:0;
    z-index: 10000;
  }
  .container-header ul{
    display:inline-flex;
    list-style: none; 

  }

  .container-header ul>li{
    margin-right:20px;
  }

  .container-header a{
    text-decoration: none;
    color:black;
  }

  
  .container-teacher{
    height:fit-content;
    width:fit-content ;
    background-color: white;
    border-radius: 10px;

 }
 .teacher-box{
  height:fit-content;
  width:fit-content;
  margin:0 auto;
  background-image:linear-gradient(orangered,white,rgba(0,0,0,0.1));
  border-radius: 100px;
  box-shadow: 0 0 10px orangered;
  align-items: center;
 }
 .teacher-job{
  background-image:linear-gradient(to right,orange,rgba(255, 166, 0, 0.871),#fff);
  padding:5px;
  width:fit-content;
  border-radius: 10px;
  margin:0 auto;
 }
 .teacher-name{
  height:150px;
  width:100%;
  background-color: white;
  box-shadow: 0 0 10px orangered;
  border-radius: 10px 10px 100px 100px;
  padding-top:50px ;
  margin-bottom:30px;
 }
 .teacher-photo img{
  border-radius: 150px;
 }

 /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom:50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: gray;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}





.col {
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
}.container-all{
    background: #f57004;
}

.container-body-under{
    background-image: linear-gradient(#ffffff 0%, #f27125 50%, #ffffff 100%);
    border-radius: 20px;
}



.giaithuong{
background-color: white ;
border-radius: 30px;
text-align: center;
transition: transform .2s;

}

.giaithuong>img{
    display: block;
    margin: auto;
    width: 200px;
}
.giaithuong>.img-gt1{
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.giaithuong>.img-gt2{
    width: 100%;
    padding-top: 10px;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.giaithuong>.img-gt2:hover{
    opacity: 0.9;
}
.boxtextgiaithuong{
    padding: 25px;
}

.giaithuong>.boxtextgiaithuong>.text-giaithuong {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to top, #f57004, #e6a76d70);
    -webkit-background-clip: text;
    color: transparent;
}

.giaithuong>.boxtextgiaithuong>.text-giaithuong:hover{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #e6a76d70 , #f57004);
    -webkit-background-clip: text;
    color: transparent;
 
}
.boxgiaithuongcon>.shadow{
    margin: 0px;
    left: 12%;
    width: 100%;
    text-align: center;
}
.boxgiaithuongcon{
    transition: transform .2s;
}
.boxgiaithuongcon:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 2px 10px orange);
}



/*-------------------------- */
.header-hoatdong{
    position: relative;
    background: linear-gradient(to right, #ffffff, #ffffff00);
    padding: 20px 30px;
}
.col>.header-hoatdong>a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform .2s;
    padding-left: 2%;
}
.header-hoatdong>hr{
    position: absolute;
    height: 1px;
    background-color: white;
    border: white;
}   
.duongke1{
    right: 100px;
    top: 10px;
    width: 200px;
}
.duongke2{
    right: 0px;
    top: 20px;
    width: 250px;
}
.duongke3{
    right: 160px;
    top: 40px;
    width: 250px;
}
.duongke4{
    right: 110px;
    bottom: 10px;
    width: 250px;
}
.col>.item-hoatdong{
    background-color: white;
    border-radius: 10px;
}
.col>.item-hoatdong>a:hover{
    opacity: 0.8;
    background: linear-gradient(to right, #f57004 , #f5700480);
    color: #f27125;
    -webkit-background-clip: text;
    color: transparent;
}
.item-hoatdong>img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.item-hoatdong:hover>img{
    opacity: 0.8;
}
.col>.item-hoatdong>a{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: larger;
}
.col>.item-hoatdong>p{
    padding: 10px;
}


.center{
    text-align: center;
}
/* --------------------------- */
.footer-container-content{
    
}
.footer-container-content>p{
    color: #ffffff;
    font-weight: 100;
}
.footer-container-content>a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.dangky{
    margin: 9px auto;
}

.dangky{
    margin-top: 20px;
    text-align: center;
    
}
.textnhap{
    padding: 10px 20px;
    color: black;
    background: linear-gradient(to right, #fddabb, #fddabb );
    border: #f07f24;
    border-radius: 5px;
}
::placeholder{
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.buttondangky {  
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.3s;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background: #3D2212;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
}
.buttondangky:hover {  
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.6),0 17px 50px 0 rgba(0,0,0,0.888);
    background: white; 
    color: #3D2212;
    font-weight: bold;
    }
.buttondangky:active{
    /* box-shadow: 0 5px #383838; */
    transform: translateY(4px);
}

.buttondangky>::-webkit-progress-value{
    color: white;
}

.boxtextnhap1{
    position: relative;
}
.boxtextnhap1>i{
    position: absolute;
    top: 9px;
    left: 18.5%;
}
.boxtextnhap2{
    position: relative;
}
.boxtextnhap2>i{
    position: absolute;
    top: 10px;
    left: 63%;
}
.col>.footer-bottom{
    text-align: center;
    background: #B5551C;
}

.col>.margin-bottom-0px{
    margin-bottom: 0px;
}

.row>.col> ul{
    list-style: none;
    padding-left: 0;
}

.row>.col> ul > li{
    background-color: #8b4b16;
    height: 50px;
    border: 1px solid black;
}
.row>.col> ul >.footer-item-info1{
    position: relative;

}

.row>.col>ul>.footer-item-info1>.icon-sub-footer>i:hover>.sub-footer{
    height: 130px;
    display: block;
}
.footer-item-info1>a>i{
    color: #ffffff;
    float: right;
    padding-right: 20px;
    font-size: 30px;
}
.footer-item-info2{
   
}
.footer-item-info2>a>i{
    color: #ffffff;
    float: right;
    padding-right: 20px;
    font-size: 30px;
}
.footer-item-info3{
  

}
.footer-item-info3>a>i{
    color: #ffffff;
    float: right;
    padding-right: 20px;
    font-size: 30px;
}
.row>.col> ul > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;
    line-height: 50px;
    color:#ffffff;
}

.row>.col> ul > li >.sub-footer{
    position: absolute;
    color:gray;
    background: rgb(235, 168, 43);
    padding: 0 20px;
    display: none;
    
}
.sub-footer>a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}
h1 {
    text-align: center;
    margin: 40px 0;
  }
  
  
  .accordion {
    margin: 10px auto;
    color: black;
    background-color: white;
    padding: 20px 20px;
  }
  
  .accordion .container-sub {
    position: relative;
    margin: 10px 10px;
  }
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  
  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content-mobile-footer {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion>hr {
    width: 100;
    margin-left: 0;
    border: 1px solid #B5551C;
    box-shadow: 0 4px 3px burlywood;
    border-radius: 1px;
  }
  
  .accordion .container-sub.active .content-mobile-footer {
    height: 200px;
    font-weight: 200;
  }
   .accordion .container-sub.active .content-mobile-footer a{
    text-decoration: none;
   }
   .accordion .container-sub.active .content-mobile-footer .dangky{
    margin: 0px;
   }
  .accordion .container-sub.active .label::before {
    content: '-';
    font-size: 30px;
  }

.row>.col>.dangky-mobile>.label{
    font-size: 30px;
    font-weight: bolder;
}  
.row>.col>.dangky-mobile>.content-mobile-footer>a{
    text-decoration: none;
    color: black;
}
.row>.col>.dangky-mobile{
    text-align: center;
}
.accordion-body>.accordion>.container-sub>.content-mobile-footer>p{
    color: #8b4b16;
}
.item-doanhnghiep>img{
    width: 100%;
}
