*{
    margin: 0%;
}
#containerall{
    background-color: #f57004;
    width: 1200px;
    margin: auto;
}
.container-body{
    
}
.container-body-under{
    margin: 0px 20px;
    background-image: linear-gradient(#ffffff 0%, #f27125 50%, #ffffff 100%);
    border-radius: 20px;
}
#container-giaithuong{
    justify-content: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.boxgiaithuong{
    box-sizing: border-box;
    display: inline-flex;
    /* background: transparent linear-gradient(180deg,#ffffff 0%,#f27125 100%) 0% 0% no-repeat padding-box; */
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    
}
div{
    display: block;
}
.giaithuong{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    transition: transform .2s;

}
/* .giaithuong:hover{
    
    transform: scale(1.1);
} */
.giaithuong>img{
    display: block;
    margin: auto;
    width: 200px;
}
.giaithuong>.img-gt1{
    border-radius: 50px;
}
.giaithuong>.img-gt2{
    margin: 0px 20px;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.giaithuong>.img-gt2:hover{
    opacity: 0.9;
}
.boxtextgiaithuong{
    padding: 25px;
}

.giaithuong>.boxtextgiaithuong>.text-giaithuong {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to top, #f57004, #e6a76d70);
    -webkit-background-clip: text;
    color: transparent;
}
.giaithuong>.boxtextgiaithuong>.text-giaithuong:hover{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #e6a76d70 , #f57004);
    -webkit-background-clip: text;
    color: transparent;
 
}
.boxgiaithuong>.boxgiaithuongcon>.shadow{
    margin: 0px;
    width: 80%;
}
.boxgiaithuongcon{
    margin: 0 15px;
    transition: transform .2s;
}
.boxgiaithuongcon:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 2px 10px orange);
}


/*-----------------------END Giải Thưởng-------------------*/
#container-sukien{

    width: 100%;
    margin: auto;
}
.head-sukien{
    position: relative;
    display: block;
    width: 600px;
    padding: 20px 40px;
    background: linear-gradient(to right, #ffffff , #f2712500);
    margin-top: 30px;

}
.head-sukien>a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
hr{
    position: absolute;
    height: 1px;
    background-color: white;
    border: white;
}
.duongke1{
    right: 100px;
    top: 10px;
    width: 200px;
}
.duongke2{
    right: 0px;
    top: 20px;
    width: 250px;
}
.duongke3{
    right: 160px;
    top: 40px;
    width: 250px;
}
.duongke4{
    right: 110px;
    bottom: 10px;
    width: 250px;
}
.boxsukien{
    display: inline-flex;
    /* background: transparent linear-gradient(360deg,#ffffff 0%,#f27125 100%) 0% 0% no-repeat padding-box; */
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}
.boxsukiencon{
    display: flex;
    justify-content: center;
    margin: 0px 60px;
}
.boxsukiencon>.sukien>img{
    display: block;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
.boxsukiencon>.sukien>img:hover{
    opacity: 0.8;
}
.boxsukiencon>.sukien>.text-sukien{
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxsukiencon>.sukien>.text-sukien>a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}
.boxsukiencon>.sukien>.text-sukien>a:hover{
    opacity: 0.8;
    background: linear-gradient(to right, #f57004 , #f5700480);
    color: #f27125;
    -webkit-background-clip: text;
    color: transparent;
}
.boxsukiencon>.sukien>.text-sukien>span{
    display: block;
    font-size: 20px;
}
.sukien{
    margin: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}


/*-----------------------End Sự Kiện------------------*/


footer{
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.footer-container{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #f27125;
}
.footer-container-content{
    border: 2px solid blue;
    width: 25%;
    padding: 20px;
    margin: 20px;
}
.footer-container-content>a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.dangky{
    margin-top: 20px;
    text-align: center;
    
}
.textnhap{
    padding: 10px 20px;
    color: black;
    background: linear-gradient(to right, #fddabb, #fddabb );
    border: #f07f24;
    border-radius: 5px;
    width:  90%;
}
::placeholder{
    color: black;
    font-size: medium;
}
.buttondangky{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(70, 9, 9, 0.781);
}
.buttondangky>::placeholder{
    color: white;
}
